/Ado.Entity/obj
/Ado.Entity/bin
/.vs
/Ado.Entity/nuget.exe
/Ado.Entity.Core/obj
/Ado.Entity.Core/bin
/Ado.Entity.Core/Ado.Entity.Core.1.0.0.nupkg
/Ado.Entity.Core/Ado.Entity.Core.1.0.1.nupkg
/Ado.Entity.Core/nuget.exe
/packages
